*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: san-serif;

}

body{
    background: linear-gradient(120deg, orange, maroon);
}

nav {
    min-height: 20vh;
    background-color: wheat;
}
nav ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    padding-top: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

section{
    height: 60vh;

}

.section-one{
    display: flex;
    justify-content: space-evenly;
}

.info{
    text-transform: uppercase;
}

.description{
    display: flex;
}

.btn-mkt{
    position: absolute;
    border-style: none;
    text-decoration:none;
    background-color: lightgreen;
    padding: 10px;
    color: black;
    left: 60%;
    width: 20%;
    text-align: center;
    outline: none;
}
.section-three p{
    font-size: 20px;
    color: white;
    width: 50%;
    margin-left: 30px;
    text-transform: capitalize;
}

.card-one{
    width: 20%;
}

.card-two{
    width: 20%;
}

.card-three{
    width: 20%;
}

.card-three a{
    border-style: none;
    text-decoration:none;
    background-color: #e6e8e7;
    padding: 10px 2px;
    color: black;
    text-align: center;
    outline: none;
    position: absolute;
    top: 60vh;
    margin-left: 27px;
}

.card-two a{
    border-style: none;
    text-decoration:none;
    background-color: #00ff95;
    padding: 10px 2px;
    color: black;
    text-align: center;
    outline: none;
    position: absolute;
    top: 60vh;
    margin-left: 27px;
}

.card-one a{
    border-style: none;
    text-decoration:none;
    background-color: #f7bc31;
    padding: 10px 2px;
    color: black;
    text-align: center;
    outline: none;
    position: absolute;
    top: 60vh;
    margin-left: 27px;
}