{% extends './public/main/conf.html'%}

{% block body%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <form action="">
                    <div class="form-group">
                        <label> search currency</label>
                        <input type="search" name="currency" id="currency" class="form-control form-control-sm">
                    </div>
                    <input type="submit" value="search currency" class="btn btn-outline-primary">
                </form>
            </div>
            <div class="col-lg-6">
                <div class="container" align="left">
                    <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
                </div>
            </div>
            <div class="col-lg-3">
                <p>{{data}}</p>
            </div>
        </div>
    </div>
{% endblock body%}